#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
}

#landing h1 {
  margin-bottom: 15vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.content p {
  text-align: center;
}

@media screen and (min-width: 910px) {
  .content {
    font-size: 2em;
  }
  .content p {
    max-width: 80%;
  }
}
