#portfolio {
  height: 100vh;
  background-color: #353b48;
  color: #cacaca;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 10vw;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.links img {
  max-height: 8vh;
}

#itens > li {
  margin-top: 1em;
}

@media screen and (min-width: 910px) {
  #portfolio h2 {
    font-size: 4em;
  }

  #container {
    max-width: 80%;
    font-size: 2em;
  }
}
