.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.links img {
  max-height: 8vh;
}

#loginForm {
  font-size: 1.5em;
}

@media screen and (min-width: 910px) {
  #loginForm {
    font-size: 2em;
    padding-right: 30vw;
  }
}
