#loginForm {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40vh;
  min-width: 70vw;
  padding-right: 10vw;
  font-size: 1.5em;
}

@media screen and (min-width: 910px) {
  #loginForm {
    font-size: 2em;
    padding-right: 25vw;
  }
}
