#landing {
  background-color: #483538;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  align-items: center;
  min-width: 20vh;
  justify-content: space-evenly;
  font-size: 0.3em;
  margin-bottom: 5vw;
  align-self: flex-end;
}

.links * {
  max-height: 2em;
}
