#landing {
  background-color: #483538;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#landing h1 {
  font-size: 9vw;
}

.links {
  margin-bottom: 5vh;
  min-width: 30%;
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
}

.links a {
  text-decoration: none;
}

.links * {
  max-height: 8vh;
}

@media screen and (max-width: 600px) {
  .links {
    min-width: 80%;
  }
}
