#landing {
  background-color: #483538;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: space-around;
}

.links {
  font-size: 0.3em;
  margin-bottom: 5vw;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.links a { 
  min-width: 18vh;
  margin-top: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.links * {
  max-height: 1.5em;
}
